<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <main>
        <form action="" class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title">TITLE</label><input type="text" name="title" id="title">
            </div>
            <button class="btn" type="submit"></button>
        </form>
    </main>
</body>

</html>