<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<main>
    <div class="grid">
        <article class="card product-item">
            <header>
                <div class="card__image">
                    <img src="#" alt="An Item">

                </div>
                <div class="card__content">
                    <h2 class="product__price">Market</h2>
                    <p class="product__description">
                        This product descripton go here.........
                    </p>
                </div>
                <div class="card__actions">
                    <button class="bt">Add to Cart</button>
                </div>
            </header>
        </article>
    </div>
</main>

</body>
</html>